<html>
    <head>
        <title>SmartQ</title>
    </head>
    <style>
        table.type09 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        }
        table.type09 thead th {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #369;
        border-bottom: 3px solid #036;
        }
        table.type09 td {
        width: 350px;
        padding: 10px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        }
    </style>
    <body>
        <h1>결과 조회</h1>
        <form method='GET'action="http://203.255.57.129:8001/home/get_search_result_page/search_result">
            <div class = "search">
                <select name='search'>
                    <option value='all' selected>전체</option>
                    <option value='device_name'>디바이스명</option>
                    <option value='model_name'>모델명</option>
                  </select>
                  <input type="text" name="keyword" value="">
                  <button type="submit">검색</button>
            </div>
        </form>
        <button onclick  = "location.href = 'http://203.255.57.129:8001/home/get_search_result_page/search_result/delete_all'">결과 삭제</button>
            <br>

        <table class="type09">
            <thead>
            <tr>
                {% for key in keys %}
                <th>{{key}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for value in values %}
            <tr>
                {% for val in value %}
                <td>{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
          </table>

        <button onclick  = "location.href = 'http://203.255.57.129:8001/home'">Home</button>
            <br>
    </body>
</html>