<html>
    <head>
        <title>SmartQ</title>
    </head>
    <body>
        <h1>결과 조회</h1>
        <form action="http://203.255.57.129:8001/home/get_search_result_page/search_result/all">
            <div class="search_all">
                <button type="submit">전체 결과 조회</button>
            </div>
        </form>
        <form action="http://203.255.57.129:8001/home/get_search_result_page/search_result/model_name">
            <div class="search_model_name">
                <input type="text" name="model_name" value="">
                <button type="submit">model_name으로 조회</button>
            </div>
        </form>
        <form action="http://203.255.57.129:8001/home/get_search_result_page/search_result/device_name">
            <div class="search_device_name">
                <input type="text" name="device_name" value="">
                <button type="submit">device_name으로 조회</button>
            </div>
        </form>
        <form action="http://203.255.57.129:8001/home/get_search_result_page/search_result/delete_all">
            <div class="search_device_name">
                <button type="submit">결과 전체 삭제</button>
            </div>
        </form>

        <table>
            <tr>
                {% for key in keys %}
                <td>{{key}}</td>
                {% endfor %}
            </tr>
            {% for value in values %}
            <tr>
                {% for val in value %}
                <td>{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <button onclick  = "location.href = 'http://203.255.57.129:8001/home'">Home</button>
            <br>
    </body>
</html>